
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Expense Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>

    <nav class="navbar">

        <h2>Expense Tracker</h2>

        <div class="nav-links">
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('view_expenses') }}">Expenses</a>
            <a href="{{ url_for('add_expenses_form') }}">Add Expense</a>
        </div>

    </nav>


    <main class="container">

        <h1>Expense Dashboard</h1>

        <div class="cards">

            <div class="card">
                <h3>Total Expenses</h3>
                <p>₹{{ total }}</p>
            </div>

            <div class="card">
                <h3>Number of Expenses</h3>
                <p>{{ count }}</p>
            </div>

            <div class="card">
                <h3>Highest Expense</h3>
                <p>₹{{ highest_expense }}</p>
            </div>

        </div>

    </main>
<section class="recent-expenses">

    <h2>Recent Expenses</h2>

    <table>

        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>

            {% for expense in recent_expenses %}

            <tr>
                <td>{{ expense.title }}</td>
                <td>{{ expense.category }}</td>
                <td>₹{{ expense.amount }}</td>
                <td>{{ expense.expense_date }}</td>
            </tr>

            {% endfor %}

        </tbody>


    </table>

</section>

<div class="category-summary">
     <h2>Category Summary</h2>
         {% for category, total in category_summary %}
           <div class="category-row">
              <span>{{ category }}</span>
              <span>₹{{ total }}</span>
           </div>
         {% endfor %}

</div>

</body>

</html>

